In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df_test = pd.read_excel(
    r"D:\Astragraphia\BO1\Pelindo\Zweite Entwicklung\testing_mk1.xlsx"
)
t = list(df_test.columns)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Organization Name             534 non-null    object
 1   User Name                     534 non-null    object
 2   Unique Alphanumeric ID        12 non-null     object
 3   User                          534 non-null    object
 4   Model Code_Identification ID  534 non-null    object
 5   Device Name                   534 non-null    object
 6   Service Type                  534 non-null    object
 7   Output Color                  534 non-null    object
 8   Size                          534 non-null    object
 9   Model Name                    534 non-null    object
 10  AccountID                     534 non-null    object
 11  Impressions                   534 non-null    int64
 12  Sheets                        534 non-null    int64
 13  Actual Paper Reduction        534 non-null    float64
 14  Possible Paper Reduction      534 non-null    int64
 15  Jobs                          534 non-null    int64
dtypes: float64(1), int64(4), object(11)
memory usage: 66.9+ KB

In [3]:
df_test[t[4]] = df_test[t[4]].apply(lambda x:x.split('_'))
df_test['Model Code'] = df_test[t[4]].apply(lambda x:x[0])
df_test['Identification ID'] = df_test[t[4]].apply(lambda x:x[-1])
df_test.drop(columns=t[4], inplace=True)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Organization Name         534 non-null    object
 1   User Name                 534 non-null    object
 2   Unique Alphanumeric ID    12 non-null     object
 3   User                      534 non-null    object
 4   Device Name               534 non-null    object
 5   Service Type              534 non-null    object
 6   Output Color              534 non-null    object
 7   Size                      534 non-null    object
 8   Model Name                534 non-null    object
 9   AccountID                 534 non-null    object
 10  Impressions               534 non-null    int64
 11  Sheets                    534 non-null    int64
 12  Actual Paper Reduction    534 non-null    float64
 13  Possible Paper Reduction  534 non-null    int64
 14  Jobs                      534 non-null    int64
 15  Model Code                534 non-null    object
 16  Identification ID         534 non-null    object
dtypes: float64(1), int64(4), object(12)
memory usage: 71.1+ KB

In [4]:
df_test = df_test[
    [
        t[0],
        t[1],
        t[2],
        t[3],
        'Model Code',
        'Identification ID',
        'Device Name',
        'Service Type',
        'Output Color',
        'Size',
        'Model Name',
        'AccountID',
        'Impressions',
        'Sheets',
        'Actual Paper Reduction',
        'Possible Paper Reduction',
        'Jobs'
    ]
]
t = list(df_test.columns)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Organization Name         534 non-null    object
 1   User Name                 534 non-null    object
 2   Unique Alphanumeric ID    12 non-null     object
 3   User                      534 non-null    object
 4   Model Code                534 non-null    object
 5   Identification ID         534 non-null    object
 6   Device Name               534 non-null    object
 7   Service Type              534 non-null    object
 8   Output Color              534 non-null    object
 9   Size                      534 non-null    object
 10  Model Name                534 non-null    object
 11  AccountID                 534 non-null    object
 12  Impressions               534 non-null    int64
 13  Sheets                    534 non-null    int64
 14  Actual Paper Reduction    534 non-null    float64
 15  Possible Paper Reduction  534 non-null    int64
 16  Jobs                      534 non-null    int64
dtypes: float64(1), int64(4), object(12)
memory usage: 71.1+ KB

In [39]:
# 1st Table
#try:
#    df_pivot = pd.pivot_table(data=df_test, index = t[6], columns = [t[8]], values = t[12], aggfunc = sum).fillna(0).astype(int)
#except Exception as e:
#    print('Error Detected:',e)

dev_group = df_test.groupby([t[6],t[8]])[[t[16],t[12]]].sum()

In [41]:
#df_pivot
dev_group_re = dev_group.reset_index()

In [ ]:
dev_group_re.to_excel(
)